@import "tailwindcss";

@font-face {
  font-family: "Jello-Stone";
  src: url("/fonts/jello-stone-font/JelloStone-YqKz8.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "june-expt-variable";
  src: url("/fonts/june-expt-font/june-expt-variable-active-vf.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

.jello-stone {
  font-family: "Jello-Stone", sans-serif;
  font-optical-sizing: auto;
}

.june-expt-variable {
  font-family: "june-expt-variable", sans-serif;
  font-optical-sizing: auto;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.playwrite-hr {
  font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.card-grid > *:nth-child(4) {
  transform: scale(1.14);
  z-index: 3;
}

.card-grid > :not(:nth-child(4)) {
  /* Your styles here */
  filter: blur(2px);
  backdrop-filter: brightness(95%);
}

.card-grid > :is(:nth-child(3), :nth-child(5)) {
  transform: scale(1.08);
  z-index: 2;
}

.card-grid > :is(:nth-child(2), :nth-child(6)) {
  transform: scale(1.05);
  z-index: 1;
}
@media (max-width: 640px) {
  .card-grid > :is(:nth-child(1), :nth-child(7)) {
    display: none;
  }
}
